<template>
  <v-layout wrap>
    <v-flex
      xs12
      md6    
    >
      <v-form 
        v-model="valid"
      >
        <v-container grid-list-xl>
          <v-layout wrap>
            <v-flex
              xs12
            >
              <v-text-field
                v-model="firstname"
                :rules="nameRules"
                :counter="10"
                label="Primeiro Nome"
                required
              ></v-text-field>
            </v-flex>

            <v-flex
              xs12
            >
              <v-text-field
                v-model="lastname"
                :rules="nameRules"
                :counter="10"
                label="Ultimo Nome"
                required
              ></v-text-field>
            </v-flex>

            <v-flex
              xs12
            >
              <v-text-field
                v-model="email"
                :rules="emailRules"
                label="E-mail"
                required
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
      </v-form>
    </v-flex>
    <v-flex
      xs12
      md6
    >
      <v-card>
        <v-card-title>
          <v-icon
            large
            left
          >
            fas fa-user-tie
          </v-icon>
          <span class="title font-weight-light">Resultados Formulário</span>
        </v-card-title>
          <v-list>
            <v-list-tile
              v-for="item in items"
              :key="item.titulo"
            >
              <v-list-tile-content>
                <v-list-tile-title v-text="item.titulo + ': ' + item.value"></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        <v-card-text>
          
        </v-card-text>
      </v-card>      
    </v-flex>
  </v-layout>
</template>


<script>
  export default {
    data(){
      return {
        valid: false,
        firstname: '',
        lastname: '',
        nameRules: [
          v => !!v || 'Campo obrigatório',
          v => v.length <= 10 || 'Nome tem que ter mais de 10 caracteres'
        ],
        email: '',
        emailRules: [
          v => !!v || 'Campo obrigatório',
          v => /.+@.+/.test(v) || 'Email inválido'
        ]
      }
    },

    computed: {
      items(){
        var items = [
          { titulo: 'Primeiro Nome', value: this.firstname },
          { titulo: 'Ultimo Nome', value: this.lastname },
          { titulo: 'Email', value: this.email }          
        ]
        return items
      }
    },

    head() {
      return {
        title: "Portal - Formulário"
      }
    }
  }
</script>
