<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-container fluid grid-list-md>
      <v-layout row wrap>

        <v-flex 
          d-flex 
          xs12 
          sm6 
          md4
        >
          <v-card color="red darken-1" dark>
            <v-card-title primary class="title">Lorem Ipsum</v-card-title>
            <v-card-text>{{ lorem }}</v-card-text>
          </v-card>
        </v-flex>

        <v-flex d-flex xs12 sm6 md3>
          <v-layout row wrap>

            <v-flex d-flex>
              <v-card color="red darken-2" dark>
                <v-card-text>{{ lorem.slice(0, 70) }}</v-card-text>
              </v-card>
            </v-flex>

            <v-flex d-flex>
              <v-layout row wrap>
                <v-flex
                  v-for="n in 2"
                  :key="n"
                  d-flex
                  xs12
                >
                  <v-card
                    color="red darken-3"
                    dark
                  >
                    <v-card-text>{{ lorem.slice(0, 40) }}</v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-flex>

          </v-layout>
        </v-flex>

        <v-flex d-flex xs12 sm6 md2 child-flex>
          <v-card color="red darken-4" dark>
            <v-card-text>{{ lorem.slice(0, 90) }}</v-card-text>
          </v-card>
        </v-flex>

        <v-flex d-flex xs12 sm6 md3>
          <v-card color="red accent-4" dark>
            <v-card-text>{{ lorem.slice(0, 100) }}</v-card-text>
          </v-card>
        </v-flex>

      </v-layout>
    </v-container>
  </v-layout>
</template>

<script>
export default {
  data(){
    return{
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem urna, tristique ut purus quis, pharetra varius felis. Cras sem dui, posuere in dolor id, congue malesuada nibh. Proin sagittis sollicitudin dui, non mollis velit varius nec. Cras sed lectus fermentum, aliquet ligula ac, commodo diam. Duis suscipit, odio ac tempus consectetur, urna orci elementum augue, ut congue dui purus et nibh. Donec ut blandit eros. Quisque sodales pellentesque diam, eget pretium nulla sodales sed. In vestibulum egestas erat eget pellentesque. Aliquam vestibulum ex sem, feugiat sollicitudin eros tincidunt in.'
    }
  },
  head() {
    return {
      title: "Bem Vindo - Inicio"
    };
  }
}
</script>
