<template>
    <v-data-table
        :headers="pessoas.headers"
        :items="pessoas.pessoas"
        class="elevation-1"
    >
        <template v-slot:items="props">
            <td>{{ props.item.nome }}</td>
            <td class="text-xs-right">{{ props.item.dt_nasc }}</td>
            <td class="text-xs-right">{{ props.item.cpf }}</td>
            <td class="text-xs-right">{{ props.item.cidade }}</td>
        </template>
    </v-data-table>
</template>

<script>
import Pessoas from '@/components/Pessoas.js'
export default {
    data() {
        return {
            pessoas: Pessoas.getPessoas()
        }
    },

    head() {
        return {
            title: "Portal - Tabela"
        };
    }
}
</script>
